@import url("");
p{
    margin-bottom: 4%;
    
}
li{
    margin-bottom: 2%;
}
.aboutcontent-div{
    padding:8% 5%;
    background-color:white;
    min-height:60vh ;


}
.application-form{
    
    &:hover{
        color:#D58E5E;

    }

}
.ubuntu{
    font-size:calc(1rem + (2 - 1) * ((100vw - 25rem) / (80 - 25)));
    font-family: "Rowdies";    
    margin-bottom: 2%;
    color: #3A1700;
 }

 .link-to-apply{
    color: #E29F72;
    &:hover {
        color:#bb703e;
    }
}
@media all and (max-width:768px){
    .ubuntu{
        font-size: 1.5rem;
    }
}