@import url("");
p{
    margin-bottom: 4%;
    
}
li{
    margin-bottom: 2%;
}
.aboutcontent-div{
    padding:8% 5%;
    background-color:white;
    min-height:60vh ;


}
.application-form{
    
    &:hover{
        color:#D58E5E;

    }

}
.ubuntu{
    font-size: calc(1.5rem + (3 - 1.5) * ((100vw - 25rem) / (80 - 25)));
    margin-bottom: 2%;
    color: #3A1700;
 }

@media all and (max-width:767px) {

    
    
}