@import url("");
.about-div{
    padding:5% 5%;
    background-color:#F3F2E7;


}
.grid-setup{
    display: grid;
    background-color:#F3F2E7;
     width:100%;
     margin-bottom:0.5%;
    grid-template-columns: repeat(2, 1fr); 
}
.img-grid{
    grid-area: 1/1 / auto / auto;
    // You can set a maximum height for the image, if you wish.
    width: auto;
    margin-left: auto;
}
.inner-grid{
    // By using the same grid area for both, they are stacked on top of each other
    grid-area: 1/2;
    position: relative;


    // This centers the other elements inside the hero component
    place-items: center;
    display: grid;
}
.hero-image{
    height:100% ;
    width:100%;
    bottom:0;
    left:auto;
}
.about{
    display: grid;
    width:100%;
   
    grid-template-columns: repeat(2, 1fr);
}
.description{
    font-size:calc(1rem + (1.25 - 1) * ((100vw - 25rem) / (80 - 25)));
    color:#E29F72;
    padding: 2% 0;
}
.ubuntu{
    font-size:calc(1rem + (2 - 1) * ((100vw - 25rem) / (80 - 25)));
    color: #3A1700;
    font-family: 'Rowdies';
 }

.info{
    font-weight: 300;
    font-family: 'Manrope';
    padding: 4% 2%;
    text-align: left;
    color: #3A1700;
    font-size:calc(1rem + (1.25 - 1) * ((100vw - 25rem) / (80 - 25)));

}
.fact-header{
    font-family: 'Manrope';
    font-size:calc(1rem + (1.5 - 1) * ((100vw - 25rem) / (80 - 25)));
    color:#3A1700;

}
.fact-sub{
    font-family: 'Manrope';
    font-size:calc(1rem + (1.25 - 1) * ((100vw - 25rem) / (80 - 25)));
    

}
.btn{
    display: inline-block;
    background-color: #F3F2E7;
    color:#7E8AB8;
    padding: 0.5rem calc(1.563rem + (2.25 - 1.563 ) * ((100vw - 25rem) / (80 - 25)));
    border: solid;
    border-color: #7E8AB8;
    border-radius: 1.563rem;
    cursor:pointer;
    font-family: 'Manrope';
    font-size:1rem;

}
.quote-container{
    width: 50%;
    font-size: 1rem;
    margin:auto;
    padding:4%;
    text-align: center;


}

.number{
    font-size: large;
    margin: 7%;
    font-size: calc(1.25rem + (2.75 - 1.25) * ((100vw - 25rem) / (80 - 25)));
    font-weight: bold;

}

.projectsdiv{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.project-box{
    display: flex;
    align-items: center;
    width: 30%;
    padding: 2%;
    border-radius: 25px;
    background-color: white;
    flex-direction: row;
}
.project-text{
    display: flex;
    flex-direction: column;
    font-family: 'Manrope';
}
@media all and (max-width:767px) {

        .img-grid{
            grid-area: auto;
        }
        .grid-setup{
            grid-template-columns: none;
        }
        .inner-grid{
            grid-area: 2/1;

        }
        .header{
            margin-top: 0%;
        }
        .hero-container{
            padding: 0 10% 4% 10%;
        }
        .about{
            grid-template-columns: none;
        }
        .projectsdiv{
            flex-direction: column;
        }
        .project-box{
            width: 100%;
            margin:2%;
        }
        .quote-container{
            width: 70%;
        }
        .btn{
            width: 100%;
        }
    

}