.contact{
    padding:8% 5%;
    background-color:white;
    min-height:60vh ;

}
.text{
    margin-bottom: 1%;
}
.form-control{
    padding:1.5%;
    width: 100%;

}
.form-control-message{
    padding:1.5%;
    min-height: 20vh;
    width: 100%;
    
}
.labels{
    width: 100%;
}
.ubuntu{
    font-size: calc(1.5rem + (3 - 1.5) * ((100vw - 25rem) / (80 - 25)));
    margin-bottom: 2%;
    color: #3A1700;
 }
.btn{
    display: inline-block;
    background-color: #7E8AB8;
    color:white;
    margin-top: 15%;
    padding: 0.5rem calc(2.5rem + (6.5 - 2.5 ) * ((100vw - 25rem) / (80 - 25)));
    border: none;
    border-radius: 1.563rem;
    font-weight: 200;
    cursor:pointer;
    font-size:calc(0.4rem + (1.125 - 0.4) * ((100vw - 25rem) / (80 - 25)));
}